
@media all and (max-width: 768px) {

    main {
        display: block;
    }

    .desktop-message{
        display: none;
    }

    #card-container {
        width: calc(100% - 40px);
        padding: 20px;
        /*background: #11ffbd;*/
    }

    .full-card {
        width: 100%;
        height: 200px;
        margin: 15px 0;
    }

    .card-header {
        width: 100%;
        height: 35px;
        position: relative;
    }

    .card-bar {
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: 25px;

        background: red;
        width: 6px;
        height: 26px;
        border-radius: 3px;
    }

    .card-header > h4 {
        height: max-content;
        position: absolute;
        top: 0;
        bottom: 0;
        margin: auto 0;
        left: 40px;

        font-size: 20px;
    }

    .card {
        width: 100%;
        height: calc(100% - 35px);
        border-radius: 10px;
        background: linear-gradient(135deg, #00c6ff 0%, #0072ff 100%);
        box-shadow: 0px 5px 20px #00000042;
    }


    #basic .card {
        background: linear-gradient(135deg, #75DDDD 0%, #00c6ff 100%);
    }

    #education .card {
        background: linear-gradient(135deg, #fbc8d4 0%, #9795f0 100%);
    }

    #profession .card {
        background: linear-gradient(135deg, #D1345B 0%, #ffb199 100%);
    }

    #projects .card {
        background: linear-gradient(-45deg, #FF3F9C 0%, #FFB9DB 100%);
    }

    #contact .card {
        background: linear-gradient(135deg, #aaffa9 0%, #11ffbd 100%);
    }

    .card{
        display: flex;
        align-items: center;
        min-width: 355px;
        position: relative;
    }

    .card-details {
        z-index: 1;
        width: 70%;
        height: 90%;
        /*background: #9795f0;*/
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

    .card-details h5 {
        font-family: 'Nexa';
        font-weight: bolder;
        font-size: 19px;
    }

    .card-details h4 {
        font-size: 19px;
        text-align: center;
    }

    .card-details div {
        padding-left: 35px;
        width: 100%;
        display: flex;
        align-content: center;
        align-items: center;

        /*width: max-content;*/
        /*background: rebeccapurple;*/
        height: 100%;
        /*display: inline-block;*/
    }

    .card-details div>h4{
        font-family: 'AvenirLTStd';
        font-weight: bold;
        /*font-size: 16px;*/
    }

    .card-details div>h5>a{
        font-family: 'nexa';
    }

    .card-details div:nth-child(odd) {
        min-width: max-content;
    }

    .card-details div:nth-child(even){
        margin-left: 20px;
    }

    #header{
        /*transform: translate(0px,-50px);*/
        transition: transform .25s, top .25s;
    }



    #contact .card-details div:nth-child(even){
        margin-left: 0px;
    }





    #projects .card-details{
        grid-template-columns: repeat(1,1fr) !important;
    }

    #projects h5{
        font-weight: lighter;
        width: 110px;
    }

    #projects .card-details div:nth-child(even){
        margin-left: 55px;
    }


    .card-background-pic{
        /*background: red;*/
        width: 40%;
        height: 100%;
        position: absolute;
        right: 0;
    }

    .card-background-pic .outer-img{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        margin: auto;
        width: 80%;
        height: max-content;
        opacity: 80%;
    }

    #basic .outer-img{width: 60%;}
    #education .outer-img{width: 60%;}
    #profession .outer-img{width: 30%;}
    #projects .outer-img{width: 98%;}
}

title{
    display: none;
}

/*.fade-in{*/
/*    transform: translate(204px,-106px) scale(0.2);*/
/*    !*background: red!important;*!*/
/*}*/